
body {
    background-color: lightblue;
    margin: 0;
    padding: 0 1rem;
    font-family: sans-serif, arial;
    font-weight: 400;
}

header {
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 -1rem 2rem;
    box-shadow: 0 0 .75rem #d0d0d0;
    background: ghostwhite;
}

header a {
    text-decoration: none;
}

header h1 {
    background-color: lightcyan;
    margin: 1rem 0;
    font-size: 2rem;
    white-space: nowrap;
}

.hidden {
    visibility: hidden;
}

nav {
    position: fixed;
    width: 15%;
    min-width: 9rem;
    height: calc(100vh - 10rem);
    font-weight: 400;
    background: #ffffff;
    padding: 1rem 0;
}

nav div {
    background-color: #000;
}

nav a {
    display: block;
    margin: 0;
    padding: 1.6rem 2rem;
    text-decoration: none;
    background-color: #ffffff;
}

nav a:hover {
    opacity: .974;
}

.current-page-link {
    background-color: #f0f0f0;
    padding-left: 1.8rem;
    border-left: .2rem solid #555555;
}

main {
    min-height: 75vh;
    margin-top: 0;
    margin-bottom: 2rem;
    padding: 2rem;
    background: #ffffff;
}

main, footer {
    max-width: 85%;
    margin-left: calc(15% + 2rem);
    margin-right: .5rem;
}

h2, h3, h4, th {
    color: darkred;
}

h1 {
    color: blue;
}

h2 {
    margin: 0 0 1.5rem;
    color: red;
}

h3 {
    margin: 2rem 0;
}

h4 {
    margin: 2rem 0 .5rem;
}

p, ul, ol, li {
    margin: 0 0 1rem;
}

ul, ul {
    padding-left: 2.5rem;
}

li ul, li ol {
    margin-top: 1rem;
}

a {
    color: #000000;
}

.text-field {
    border: .05rem solid #d0d0d0;
    background: #f0f0f0;
    margin:  0 0 1rem;
    padding: 1rem 1rem 0;
    width: fit-content;
}

.text-field ul, .text-field ol {
    padding-left: 1.4rem;
}

table {
    border-collapse: collapse;
    border: .1rem solid #d0d0d0;
}

th, td {
    padding: 1rem;
}

th {
    border: .1rem solid #d0d0d0;
    background: #dcdcdc;
    text-align: center;
}

td {
    border: .05rem solid #d0d0d0;
}

.board {
    border-collapse: collapse;
    box-shadow: .15rem .15rem 0.75rem #d0d0d0;
    border: none;
    margin-left: 5rem;
}

.board th, .board td {
    height: calc(min(7vh, 7vw));
    width: calc(min(7vh, 7vw));
    padding: 0;
    background: unset;
    text-align: center;
    border: none;
}

.board tr:nth-child(even) td:nth-child(odd),
.board tr:nth-child(odd) td:nth-child(even) {
    background: #888888;
}

.board tr:nth-child(even) td:nth-child(even),
.board tr:nth-child(odd) td:nth-child(odd) {
    background: #f0f0f0;
}

.board tr td:nth-child(2) {
    border-left: .1rem solid #d0d0d0;
}

.board tr td:nth-child(9) {
    border-right: .1rem solid #d0d0d0;
}

.board tr:nth-child(2) td {
    border-top: .1rem solid #d0d0d0;
}

.board tr:nth-child(9) td {
    border-bottom: .1rem solid #d0d0d0;
}

.board .prompt {
    background: #cfb53b !important;
}

.board .can-be-filled {
    background: #48c417 !important;
}

.board .must-be-filled {
    background: #c53c17 !important;
}

.board .killed {
    background: #179fc4 !important;
}

.board img {
    height: 75%;
    width: 75%;
    vertical-align: middle;
}

.game-page-content {
    display: flex;
    justify-content: stretch;
    flex-wrap: wrap;
    margin-left: -5rem;
}

.status-and-buttons {
    margin-left: 5rem;
}

.status-and-buttons .buttons {
    display: flex;
    flex-flow: column;
}

button {
    font-size: 1rem;
    margin: 0 0 .5rem;
    padding: .5rem;
    background: #f0f0f0;
    border: .1rem solid #d0d0d0;
}

button:active {
    color: unset;
    background: #dcdcdc;
}

.game-history {
    height: 70vh;
    flex-grow: 1;
    margin-left: 5rem;
}

.game-history h3 {
    margin-left: 2.5rem;
}

#move-list {
    overflow-y: auto;
    height: calc(100% - 5rem);
}

footer {
    display: flex;
    justify-content: flex-end;
    background: #fcfafd;
    margin-bottom: 2rem;
    padding: 2rem;
}

footer section {
    margin: 0 5rem;
}

footer p, footer a {
    color:  #555555;
}

footer p:last-child {
    margin-bottom: 0;
}
