<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="rating" content="General">
    <link rel="stylesheet" th:href="@{../styles/basic.css}">
    <title>Checkers</title>
</head>

<body>
<header>
    <a href="#"><h1>Checkers</h1></a>
</header>

<nav>
    <div><a th:href="@{/index}">Menu</a></div>
    <div><a th:href="@{/rules}">Rules</a></div>
    <div><a th:href="@{/game}" class="current-page-link">Play</a></div>
</nav>

<main>
    <h2>Game</h2>
    <div class="game-page-content">
        <table class="board">
            <tbody>
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
                <th></th>
            </tr>
            <tr>
                <th>8</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>8</th>
            </tr>
            <tr>
                <th>7</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>7</th>
            </tr>
            <tr>
                <th>6</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>6</th>
            </tr>
            <tr>
                <th>5</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>5</th>
            </tr>
            <tr>
                <th>4</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>4</th>
            </tr>
            <tr>
                <th>3</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>3</th>
            </tr>
            <tr>
                <th>2</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>2</th>
            </tr>
            <tr>
                <th>1</th>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <th>1</th>
            </tr>
            <tr>
                <th></th>
                <th>a</th>
                <th>b</th>
                <th>c</th>
                <th>d</th>
                <th>e</th>
                <th>f</th>
                <th>g</th>
                <th>h</th>
                <th></th>
            </tr>
            </tbody>
        </table>

        <article class="status-and-buttons">
            <h3 id="status">White</h3>
            <div class="buttons">
                <button id="start">Начало</button>
                <button id="example1">Пример 1</button>
                <button id="enter" class="enter-hidden">Ввести партию</button>
                <button id="cancel-turn">Отменить ход</button>
                <button id="finish-turn">Завершить ход</button>
            </div>
        </article>

        <article class="game-history">
            <h3>Moves</h3>
            <ol id="move-list">
            </ol>
        </article>
    </div>
    <div class="assign-game-hidden" id="panel-game">
        <h3>Match</h3>
        <textarea rows="27" cols="25" id="text"></textarea>
        <button id="cancel-enter">Отменить ввод</button>
        <button id="show-game">Показать</button>

    </div>
    <div class="assign-error-hidden" id="panel-error">
        <h3>Ошибки</h3>
        <div id="err-content">
        </div>

    </div>


</main>

<footer>
    <section>
        <p>&copy Уразов Вадим, 2021</p>
        <p><a href="mailto:vadim.urazov.00@mail.ru?subject=Checkers">vadim.urazov.00@mail.ru</a></p>
    </section>
</footer>

<script th:src="@{/config/config.js}" defer></script>
</body>
</html>